<div class="container-contacts">
  <div ngClass="title">
    <h1>Contatos</h1>

  </div>

  <ul ngClass="contacts">
    <li ngClass="contact">
      <div>
        <fa-icon [icon]="faGithub"></fa-icon>

      </div>

      <h3>GitHub</h3>

      <a [href]="'https://github.com/RyanSoar3s'" [target]="'_blank'">github.com/RyanSoar3s</a>

    </li>

    <li ngClass="contact">
      <div>
        <fa-icon [icon]="faLinkedin"></fa-icon>

      </div>

      <h3>LinkedIn</h3>

      <a [href]="'https://www.linkedin.com/in/ryan-soares-dev/'" [target]="'_blank'">linkedin.com/in/ryan-soares-dev/</a>

    </li>

    <li ngClass="contact">
      <div>
        <fa-icon [icon]="faAt"></fa-icon>

      </div>
      <h3>E-mail</h3>

      <a [href]="'mailto:ryansoares.dev@gmail.com'" [target]="'_blank'">ryansoares.dev&#64;gmail.com</a>

    </li>

    <li ngClass="contact">
      <div>
        <fa-icon [icon]="faWhatsapp"></fa-icon>

      </div>

      <h3>WhatsApp</h3>

      <a [href]="'https://api.whatsapp.com/send/?phone=5579988004580&text&type=phone_number&app_absent=0'" [target]="'_blank'">(79) 98800-4580</a>

    </li>

  </ul>

</div>
