<div ngClass="title_about-me">
  <h1>Sobre mim</h1>

</div>

<div ngClass="about-me">
  <div ngClass="card">
    <div ngClass="icon">
      <img [src]="icon1_path" [alt]="'ícone perfil'">

    </div>

    <div ngClass="title_card">
      <h1>Quem Sou Eu?</h1>

    </div>

    <div ngClass="content_card">
      <p>
        Olá 😁! Me chamo Ryan Soares e sou apaixonado por tecnologia. Tenho conhecimento
        em HTML, Tailwindcss, Sass, JavaScript/TypeScript, Angular, Express, Redis e MongoDB. Crio interfaces
        interativas e que atendem às necessidades dos usuários.

      </p>

    </div>

  </div>

  <div ngClass="card">
    <div ngClass="icon">
      <img [src]="icon2_path" [alt]="'ícone perfil'">

    </div>

    <div ngClass="title_card">
      <h1>O Início</h1>

    </div>

    <div ngClass="content_card">
      <p>
        A primeira vez que tive contato com a área de tecnologia foi em uma eletiva de robótica no colégio.
        Posteriormente, descobri a programação e fiquei fascinado por ela. Comecei a estudar lógica de
        programação em Portugol e a partir daí meu interesse na área cresceu.

      </p>

    </div>

  </div>

  <div ngClass="card">
    <div ngClass="icon">
      <img [src]="icon3_path" [alt]="'ícone perfil'">

    </div>

    <div ngClass="title_card">
      <h1>Atualmente</h1>

    </div>

    <div ngClass="content_card">
      <p>
        Foco em fazer projetos que aprimorem meu conhecimento,
        tanto no front-end quanto no back-end. Busco desafios que
        me proporcionem aprendizado contínuo, especialmente no Angular,
        que é um framework bastante verboso, e no NodeJS para back-end.

      </p>

    </div>

  </div>

</div>
