.container-home {
  background: #0d0e0eed;;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;

}

.home {
  color: white;
  display: inherit;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: calc(100vw - var(--width-container-navigation));

}
