.container-home {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100svh;
  width: 100svw;
  z-index: 1;

}

.home {
  position: relative;
  display: inherit;
  align-items: center;
  justify-content: center;
  height: inherit;
  z-index: 100;

  .home-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--font-size-home-content-home);

  }

}

h1, h2 {
  color: white;

}
