<div class="container-navigation">
  <div>
    <div class="container-logo">
      <div class="logo"></div>
    </div>

    <div class="title">
      <h1>Ryan Soares</h1>

    </div>

  </div>

  <nav class="container-menu">
    <ul>
      <li><fa-icon [icon]="faHouse"></fa-icon> <a>Início</a></li>
      <li><fa-icon [icon]="faUser"></fa-icon> <a style="margin-left: 4px;">Sobre mim</a></li>
      <li><fa-icon [icon]="faAtom"></fa-icon> <a>Habilidades</a></li>
      <li><fa-icon [icon]="faSitemap"></fa-icon> <a style="margin-left: -3px;">Meus projetos</a></li>
      <li><fa-icon [icon]="faPhone"></fa-icon> <a>Meus contatos</a></li>
      <li><fa-icon [icon]="faCircleInfo"></fa-icon> <a>Sobre o projeto</a></li>

    </ul>

  </nav>

</div>
