@if (isSmallScreen) {
  <div [ngClass]="'container-menu-icon'" [ngStyle]="{ 'position': 'fixed' }" (click)="toggleMenu()">
    <fa-icon [icon]="faBars" [ngStyle]="{ 'color': 'black' }" [ngClass]="'menu-icon'"></fa-icon>

  </div>

}

@if (isSmallScreen && !hidden_menu) {
  <div class="overlay" (click)="toggleMenu()"></div>

}

@if (isZoomImage) {
  <div [ngClass]="'container-zoom-img'" (click)="toggleZoomImage()">
    <div ngClass="zoom-img" (click)="toggleZoomImage()">
      <img [src]="path" [alt]="'foto de navegação'" (click)="toggleZoomImage()">

    </div>

  </div>

}

<div #menu class="container-navigation" [ngClass]="{ 'hidden-menu': hidden_menu }" [ngStyle]="{ 'position': 'fixed' }">
  @if (isSmallScreen && !hidden_menu) {
    <div [ngStyle]="{ 'position': 'absolute', 'top': '0', 'left': '0' }" [ngClass]="'container-menu-icon'" (click)="toggleMenu()">
      <fa-icon [icon]="faXmark" [ngStyle]="{ 'color': 'white' }" [ngClass]="'menu-icon'"></fa-icon>

    </div>

  }

  <div>
    <div [ngClass]="'container-img'" (click)="toggleZoomImage()">
      <div ngClass="img">
        <img [src]="path" [alt]="'foto de navegação'">

      </div>

    </div>

    <div [ngClass]="'title'">
      <h1>Ryan Soares</h1>

    </div>

  </div>

  <nav ngClass="container-menu">
    <ul>
      <li><fa-icon [icon]="faHouse"></fa-icon> <a>Início</a></li>
      <li><fa-icon [icon]="faUser"></fa-icon> <a style="margin-left: 4px;">Sobre mim</a></li>
      <li><fa-icon [icon]="faAtom"></fa-icon> <a>Habilidades</a></li>
      <li><fa-icon [icon]="faSitemap"></fa-icon> <a style="margin-left: -3px;">Meus projetos</a></li>
      <li><fa-icon [icon]="faPhone"></fa-icon> <a>Meus contatos</a></li>
      <li><fa-icon [icon]="faCircleInfo"></fa-icon> <a>Sobre o projeto</a></li>

    </ul>

  </nav>

</div>
