@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --option-display-header: inline;
  --height-width-container-image-header: 200px;
  --display-navigation-option-header: flex;

  --font-size-home-content-home: 22px;

}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  min-height: 50px;
  min-width: 40px;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


html, body {
  overflow-x: hidden;

}

body {
  background: #131417;
  font-family: "Rubik", sans-serif;

}
