@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --width-container-navigation: 450px;
  --font-size-h1-navigation: 1.3em;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


html, body {
  overflow-x: hidden;

}

body {
  font-family: "Rubik", sans-serif;

}
