<div ngClass="contacts">
  <div ngClass="contacts__container-title">
    <h3 [ngClass]="'title contacts__title'">Contatos</h3>

  </div>

  <div ngClass="contacts__links">
    <div>
      <fa-icon [icon]="faGithub"> </fa-icon><a ngClass="links" [href]="'https://github.com/RyanSoar3s'" [target]="'_blank'"> GitHub</a>

    </div>

    <div>
      <fa-icon [icon]="faLinkedin"> </fa-icon><a ngClass="links" [href]="'https://www.linkedin.com/in/ryan-s0ares-dev/'" [target]="'_blank'"> LinkedIn</a>

    </div>

    <div>
      <fa-icon [icon]="faAt"> </fa-icon><a ngClass="links" [href]="'mailto:ryansoares.dev@gmail.com'" [target]="'_blank'"> E-mail</a>

    </div>

    <div>
      <fa-icon [icon]="faWhatsapp"> </fa-icon><a ngClass="links" [href]="'https://api.whatsapp.com/send/?phone=5579988004580&text&type=phone_number&app_absent=0'" [target]="'_blank'"> WhatsApp</a>

    </div>

  </div>

</div>

<div ngClass="copyright">
  <div ngClass="copyright__container-title">
    <h3 [ngClass]="'title copyright__title'">Ícones usados</h3>

  </div>

  <div>
    <div> Feito por <a ngClass="links" [href]="'https://www.flaticon.com/authors/lizel-arina'" [title]="'Lizel Arina'" [target]="'_blank'"> Lizel Arina </a></div>

    <div> Feito por <a ngClass="links" [href]="'https://www.flaticon.com/free-icon/settings_3067451?term=computer&page=1&position=10&origin=search&related_id=3067451'" [title]="'Flaticon'" [target]="'_blank'">Freepik - Flaticon</a></div>

    <div> Feito por <a ngClass="links" [href]="'https://www.flaticon.com/authors/muhammad-ali'" [title]="'Muhammad Ali'" [target]="'_blank'"> Muhammad Ali </a></div>

  </div>

</div>

<div ngClass="made-by">
  <h3 [ngClass]="'title made-by__title'">Feito por <span ngClass="made-by__name">Ryan Soares</span> &lt;/&gt;</h3>

</div>
